* {
	padding: 0;
	margin: 0;
	font-family: monospace;
}

body {
	overflow: hidden;
	position: fixed;
	-webkit-overflow-scrolling: touch;
}

#viewport-canvas {
	position: absolute;
	top: 0;
	left: 0;
	image-rendering: pixelated;
	width: 100vw;
	height: 100vh;
	background-color: #e0e0e0;
}

#ui-wrapper {
	position: fixed;
	bottom: top;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	transition: background 1s;
}

#ui-wrapper[hide=true] {
	pointer-events: none;
	background: none;
}

#loading-p {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.4em;
	transform: translate(-50%, -50%);
}

#help-button {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 900;
	width: 60px;
	padding: 8px;
	background-color: #ffffff;
	border: 1px solid #000;
	cursor: pointer;
}

#help-popup {
	font-size: 16px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1000;
	width: 800px;
	max-width: calc(100vw - 60px);
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #000;
}

#close-help-popup {
	font-size: inherit;
	margin-top: 20px;
	text-decoration: underline;
	cursor: pointer;
	background: none;
	border: none;
}

#help-text-mobile {
	display: none;
}

@media (hover: none) {
	#help-text-desktop {
		display: none;
	}

	#help-text-mobile {
		display: inline;
	}
}

/* bottom menu bar */
#controls {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	background: #dfdfdf;
	border-top: 1px solid #000;

	box-sizing: border-box;
	padding: 8px;

	font-size: 24px;
}

#controls .button {
	height: 34px;
	width: 34px;
	border: 1px solid #000;
	border-radius: 2px;

	user-select: none;
	cursor: pointer;
}

#color-field {
	font-size: 18px;
	height: 34px;
	padding: 0;
	border-radius: 2px;
	border: 1px solid #000;
	outline: none;
	width: 106px;
}

/* utilities */
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-gap {
	gap: 8px;
}

.flex-spacer {
	flex-grow: 1;
	content: '&nbsp;';
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
